@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101110;
    color: #A1A1A1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.container-avatar {
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.image-avatar {
    max-width: 100px;
    border-radius: 100%;
}

.text-name {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #D2B84C;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
}

.container-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
}

.link {
    height: 20px;
    min-width: 60%;
    padding: 20px;
    align-items: center;
    text-decoration: none;
    color: #A1A1A1;
    transition-duration: 0.7s;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    border: 2px solid #3B5941;
}

.link:hover {
    background-color: #D2B84C;
    color: #101110;
    transition-duration: 0.7s;
}

.footer {
    padding-top: 20px;
    color: #D2B84C;
    font-family: 'Fira Code', monospace;
    font-size: 0.6rem;
}
